body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header.sticky-header {
    position: sticky;
    top: 0;
    background-color: rgba(244, 244, 244, 0.9);
    padding: 0px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: transitionIn 1s;
}

.logo img {
    margin-top: 10px;
    width: 50%;
    height: auto;
}

nav a {
    text-decoration: none;
    color:#003366;
}

nav a:hover {
 
    color: #7bb1e7d4;
    text-decoration: underline;
}

nav {
    padding-right: 246px;

}

.cta-button {
    display: inline-block;
    background-color: #ff0000;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    right: 17px;
}

#nav-links {
    display: flex;
    gap: 50px; 
    margin-right: 150px; 
}

.cta-button:hover {
    background-color: #c90a0a;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Body */


*{
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.wrapper h1{
    font-size: 2.5em;
    margin: 50px;
}

.content-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1200px;
    margin-top: 20px;
}

.card{
    min-height: 220px;
    width: 380px;
    border-radius: 5px;
    padding: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px 4px;
    box-shadow: 0px 15px 30px rgba(0,0,0,0.2);
    color: #6c757d;
    transition: 0.3s;
}
.card h2{
    color: #003366;
}
.card i{
    color: #003366;
}

.card a{
    text-decoration: none;
}

.card:nth-child(1):hover {
    background: linear-gradient(45deg, 
                                rgba(111, 192, 208, 0.8) 0%, 
                                rgba(6, 224, 224, 0.677) 100%),
                url('dokterAppointment.png');
    background-size: cover;
}

.card:nth-child(2):hover {
    background: linear-gradient(45deg, 
                                rgba(111, 192, 208, 0.8) 0%, 
                                rgba(6, 224, 224, 0.677) 100%),
                url('healthedu.jpg');
    background-size: cover;
}


.card:nth-child(3):hover {
    background: linear-gradient(45deg, 
                                rgba(111, 192, 208, 0.8) 0%, 
                                rgba(6, 224, 224, 0.677) 100%),
                url('community.png');
    background-size: cover;
}


.card:hover i,
.card:hover p{
    color: #fff;
}
/* .card:hover h2{
    color: #b5b5b5;
}    */
